<div class="container">
    <mat-toolbar>
        <span>My Simple Application</span>
        <div>
            <button *ngIf="typeTableBody.length > 0" (click)="onCreatePdf('view') " matRipple mat-raised-button
                style="margin-right: 10px;"><mat-icon fontIcon="download"
                    style="font-size: 22px;">visibilityicon</mat-icon>
                View PDF</button>

            <button *ngIf="typeTableBody.length > 0" (click)="onCreatePdf('download') " matRipple mat-raised-button
                style="margin-right: 10px;"><mat-icon fontIcon="download" style="font-size: 22px;">download</mat-icon>
                Download PDF</button>
            <button (click)="openDialog()" matRipple mat-raised-button><mat-icon fontIcon="add"
                    style="font-size: 22px;">add</mat-icon>
                Add New</button>
        </div>
    </mat-toolbar>
    <mat-card *ngIf="typeTableBody.length == 0">

        <mat-card-content>Data is not avialable!
            <i class="fa-regular fa-face-sleepy"></i>
        </mat-card-content>

    </mat-card>




    <table *ngIf="typeTableBody.length > 0" id="my-table">
        <tr>
            <th>SL.NO</th>
            <th>Category</th>
            <th>Product Name</th>
            <th>Price (TK.)</th>
            <th>Discount (TK.)</th>
            <th>Total (TK.)</th>
        </tr>
        <tr
            *ngFor="let data of typeTableBody | paginate: { itemsPerPage: 5, currentPage: p,totalItems: typeTableBody.length } ; let i = index">
            <td>{{1+i}}</td>
            <td>{{data.typeName}}</td>
            <td>{{data.productName}}</td>
            <td>{{data.price}}</td>
            <td>{{data.discount}}</td>
            <td>{{data.total}}</td>
            <td>
                <div class="action-editdlt">
                    <button matRipple class="edit-dlt" (click)="handleEdit(data, i)">
                        <i class="fa-regular fa-pen-to-square"></i></button>
                    <button matRipple class="edit-dlt" (click)="handleDelete(data,i)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Total:{{noDiscount}}tk</th>
            <th>Discount: {{totalDiscount}}tk</th>
            <th>Total: {{withDiscount}}tk</th>
            <th></th>
        </tr>
    </table>

    <div *ngIf="typeTableBody.length > 0" style="border: 1px solid rgb(234, 234, 234); text-align: left; width: 100%;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>



</div>