<div class="container">
    <mat-toolbar>
        <span>My Simple Application</span>
        <button (click)="openDialog()" matRipple mat-raised-button><mat-icon fontIcon="add"
                style="font-size: 22px;">add</mat-icon>
            Add New</button>
    </mat-toolbar>
    <mat-card *ngIf="typeTableBody.length == 0">
        <mat-card-content>Data is not avialable!</mat-card-content>
    </mat-card>




    <table *ngIf="typeTableBody.length > 0">
        <tr>
            <th>SL.NO</th>
            <th>Type Name</th>
            <th>Items Name</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let data of typeTableBody; let i = index">
            <td>{{i+1}}</td>
            <td>{{data.typeName}}</td>
            <td>{{data.itemName}}</td>
            <td>
                <div class="action-editdlt">
                    <button class="edit-dlt" mat-icon-button color="primary" (click)="handleEdit(data, i)">
                        <mat-icon>editoff </mat-icon></button>
                    <button class="edit-dlt" mat-icon-button color="warn"
                        (click)="handleDelete(data,i)"><mat-icon>deleteforever
                        </mat-icon></button>
                </div>
            </td>
        </tr>
    </table>
    <div style="border: 1px solid rgb(234, 234, 234); text-align: left; width: 100%;">
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
    </div>



</div>